extends layout

block content
  .container-fluid
    .row.chat.hidden
      .col-md-12.username
        p(id="logged-username")
      .col-md-2.rooms
        p Rooms
        ul#rooms
      .col-md-2.users
        p Users
        ul#users
      .col-md-8.chats
        ul.messages#messages

        input(type="text",placeholder="Type message here",id="message")
        input(type="submit",value="Send",id="send")
    .row.login.hidden
      .col-md-12
        .row
          .col-md-2
            p Username
          .col-md-10
            input(type="text",id="username")
        .row
          .col-md-2
            p Password
          .col-md-10
            input(type="password",id="password")
        .row
          .col-md-2
            p Room
          .col-md-10
            input(type="text",id="room",value="room")
        .row
          input(type="submit",value="Start",id="start")


  script(src="/lib/js.cookie.js")
  script(src="//code.jquery.com/jquery-latest.js")
  script(src="/socket.io/socket.io.js")
  script(src="/client-app.js")

