body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

ul {
    list-style-type: none;
}

/* bootstrap grid debug*/
div[class="row"] {
    border: 1px dotted rgba(0, 0, 0, 0.5);
}
/*
div[class^="col-"] {
    background-color: rgba(255, 0, 0, 0.2);
}*/

div.container-fluid{
    background-color: lightblue;
}

span.username {
    font-weight: bold;
    padding-right: 10px;
}

span.event {
    color: gray;
}

div.chats {
    overflow: auto;
    height: 300px;
}

div.main-area{
    height: 340px;
}

input,p,ul{
    margin: 5px 5px 5px 5px;
    padding: 5px 5px 5px 5px;
}
div.bottom-bar{
    height: 40px;
}
